{% extends "base.html" %}

{% block app_content %}
<a class="btn-first-page" href="{{ url_for('index') }}">На главную</a>
<p>Игра началась</p>
{% if steps %}
    <p>{{ steps }}</p>
{% endif %}

<form action="" method="POST">
    {{ form.csrf_token }}
    <p>{{ form.way.label }} <br>
        {{ form.way }}</p>
    <p>
        {{ form.number_steps.label }} <br>
        {{ form.number_steps }}
    </p>
    <p>
        {{ form.submit }}
    </p>

</form>

<p>Вы сейчас здесь: {{ game_now.start }}</p>
<p>Выход здесь: {{ game_now.exit }}</p>

{% endblock %}
