<!DOCTYPE html>
<html lang="en">
<head>
    <link href='{{ url_for("static", filename="style.css") }}' rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>Title</title>
<body>
{% block content %}
  <div class="content">
    {% block app_content %}
    {% endblock%}
  </div>
{% endblock %}
</body>
</html>
<script>
  {% block scripts %}
    var btn1 = document.getElementById("btn1");
    btn1.addEventListener("click", function() {
         this.classList.add("active");
         var el1 = document.getElementById("helper");
         el1.classList.add("active")
         var el2 = document.getElementById("helper1");
         el2.classList.add("active")
         });
  {% endblock %}
</script>